<ion-header-bar class="bar bar-header bar-positive" align-title="center"><!--头部-->
    <cs-return-btn></cs-return-btn>

    <button class="button button-icon button-clear ion-ios-more" ng-click="addMoreProjects()"></button>
</ion-header-bar>
<ion-content class="stable-bg has-header">
    <ion-list>
        <ion-item ng-repeat="(prjId,prjName) in projectsSelfData" ng-click="chooseProject(prjId)">
            <div >{{prjId}}&nbsp;&nbsp;&nbsp;&nbsp;{{prjName}}</div>
        </ion-item>
    </ion-list>
</ion-content>